<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SampleLayout</title>
</head>
<body>
    <div>
        @*@RenderBody()*@

        <p>There is no body to render</p>
        <p>This is just sample view</p>

        <p>Database: @Sitecore.Context.Database.Name</p>
    </div>
</body>
</html>
